<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Azimut 120SL</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="../index.html"><img class="logo" src="../img/logo.png" alt="Logo"></a>
            <ul class="menu">
                <li class="menu-list"><a class="menu-link" href="../index.html">Главная</a></li>
                <li class="menu-list"><a class="menu-link" href="catalog.html">Каталог</a></li>
                <li class="menu-list"><a class="menu-link" href="../contacts.html">Контакты</a></li>
            </ul>
        </div>
        <h2>Azimut 120SL</h2>
        <h3 class="product_page_h3">Описание</h3>
        <a href="Azimut 120SL.jpg" target="_blank"><img class="img_product" src="Azimut 120SL.jpg" alt="Яхта Azimut 120SL" title="Яхта Azimut 120SL"></a>
        <p class="text_description_brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam dicta a&nbsp;voluptas iste nulla nihil possimus nesciunt adipisci eveniet, ex&nbsp;nam similique harum magnam reprehenderit, doloribus, consectetur&nbsp;ut! Modi corporis
            ut&nbsp;doloremque deserunt non quidem quis, temporibus ex&nbsp;blanditiis maiores ducimus odit, ipsa dolor explicabo quibusdam, voluptates veniam dignissimos animi. Expedita sed incidunt dolore, in&nbsp;totam laboriosam molestias libero,
            iusto.</p>
        <button class="button_buy" type="button"><b>Купить</b></button>
        <h3 class="product_page_h3">Характеристики</h3>
        <table class="product_table">
            <tr>
                <th class="product_td" rowspan="2">row 1 2</th>
                <th class="product_td product_th" colspan="4">column 2 3 4 5</th>
            </tr>
            <tr>
                <td class="product_td">cell 1</td>
                <td class="product_td">cell 2</td>
                <td class="product_td">cell 3</td>
                <td class="product_td">cell 4</td>
            </tr>
            <tr>
                <td class="product_td">row 3</td>
                <td class="product_td">cell 5</td>
                <td class="product_td">cell 6</td>
                <td class="product_td">cell 7</td>
                <td class="product_td">cell 8</td>
            </tr>
            <tr>
                <td class="product_td">row 4</td>
                <td class="product_td">cell 9</td>
                <td class="product_td">cell 10</td>
                <td class="product_td">cell 11</td>
                <td class="product_td">cell 12</td>
            </tr>
        </table>
        <ul class="characteristics">
            <li>Lorem ipsum dolor sit.</li>
            <li>Eligendi deserunt praesentium minima.</li>
            <li>Reiciendis ratione neque tempora.</li>
            <li>Nostrum, minus! Autem, commodi!</li>
            <li>Voluptatem debitis expedita amet.</li>
            <li>Beatae odio eaque aut.</li>
            <li>Magni, nemo enim recusandae.</li>
        </ul>
        <h3 class="product_page_h3">Подробное описание</h3>
        <p class="text_description_detailed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt a&nbsp;officiis perferendis, perspiciatis dolore vitae fugiat dicta impedit doloribus, nesciunt consequatur aperiam, soluta! Repellendus ipsum odio consequatur voluptate quisquam! Obcaecati quae aperiam similique ipsum, qui impedit laboriosam blanditiis corporis quam. Nostrum culpa aspernatur ut&nbsp;et&nbsp;vel. Modi sunt recusandae ipsa. Inventore autem et&nbsp;blanditiis, neque adipisci natus.  Ab&nbsp;saepe, voluptates, blanditiis odio aut voluptatibus illum ut&nbsp;voluptatem explicabo quibusdam aliquam. Assumenda necessitatibus esse libero nemo molestias officia excepturi sint nisi. A&nbsp;officia nemo sapiente porro vitae, esse cumque fugit earum hic dolores quae, dolorum saepe laborum magnam ut&nbsp;delectus unde.</p>
        <p class="text_description_detailed">Blanditiis sed, quos ad&nbsp;repudiandae omnis earum, delectus nemo iure excepturi pariatur repellendus, itaque explicabo nam nihil voluptas quasi quae ullam facere, dolorum! At&nbsp;minima excepturi ut&nbsp;doloribus sed est repellendus veritatis optio ratione sequi cupiditate aperiam amet, suscipit hic voluptatem. Amet adipisci, ratione. Sunt esse, neque recusandae, necessitatibus labore eveniet saepe perspiciatis voluptatibus repellat corporis ad&nbsp;libero excepturi at&nbsp;totam fuga quia distinctio consequuntur illum quam ipsa eum quas, vero. Eaque amet a&nbsp;tenetur inventore consequatur, quisquam eos, facilis quibusdam quidem sequi, qui? Corrupti animi placeat officiis sed. Quae iure deserunt, aspernatur voluptatum inventore labore cum laboriosam itaque excepturi.</p>
        <p class="text_description_detailed">Perspiciatis nisi earum impedit vero nulla consectetur sit dolore odit id&nbsp;ducimus assumenda officiis consequuntur dolores voluptate, ipsum reiciendis qui, placeat deserunt libero cum possimus sed quidem. Veniam quibusdam molestiae officia facilis, sint consectetur dolorem nobis eum obcaecati cumque maiores est, mollitia tempore, ut&nbsp;eaque distinctio expedita cum pariatur temporibus blanditiis accusamus. Quos blanditiis earum aliquam, error nulla nisi consequatur, vero dolorem pariatur tenetur eius, possimus et&nbsp;labore omnis inventore distinctio voluptatem repellendus natus alias suscipit voluptas, facere repellat debitis sapiente. Quibusdam, velit sit beatae alias illum voluptate, quia ipsum tempora possimus quisquam dolorum ut&nbsp;voluptatibus voluptatem nisi est enim!</p>
        <p class="text_description_detailed">Dolores facere neque totam laboriosam, corrupti in&nbsp;saepe. Reprehenderit veritatis perspiciatis aut itaque dignissimos voluptatum voluptates maxime hic quam nihil temporibus dolore sapiente et&nbsp;aperiam, nobis eius officia sunt est voluptas asperiores laboriosam blanditiis impedit voluptatibus! Dolore alias, iure corrupti cum quos, in&nbsp;totam inventore dicta quia architecto optio odio! Praesentium numquam excepturi mollitia quod autem temporibus assumenda quae, cumque enim molestias tempore iste neque consequuntur beatae officiis ex&nbsp;deleniti sequi rerum laudantium accusamus totam, repellat similique dolor. Aut consequuntur recusandae quas saepe quaerat eum, ipsum modi soluta, qui iure voluptate, aspernatur enim optio magni nemo doloremque magnam reprehenderit nisi!</p>
        <p class="text_description_detailed">Facere quidem error cum dolores tempore, reiciendis veritatis, corporis fugiat culpa numquam ratione labore asperiores, molestias deleniti animi. Recusandae minima quaerat error vero nesciunt expedita amet cupiditate excepturi? Nihil voluptate sapiente&nbsp;in, quam totam itaque placeat iusto rem consequatur aspernatur quis est eaque, culpa sint. Accusantium aperiam ut&nbsp;est, blanditiis consequatur temporibus accusamus nam fugiat cupiditate sunt vel minima error maxime voluptatum ipsam omnis distinctio. Quis minima repudiandae quibusdam dignissimos. Corrupti obcaecati nam cum nobis deserunt eveniet. Ipsam, animi nostrum. Quidem distinctio at&nbsp;et&nbsp;aspernatur, optio adipisci dolore pariatur quas quibusdam incidunt laudantium corrupti, atque eos modi voluptatibus doloribus officia?</p>
        <h3 class="product_page_h3">Особенности модели</h3>
        <p class="text_description_features">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit et&nbsp;delectus deserunt possimus sint nam doloremque odit rem, architecto omnis aliquam veniam, similique deleniti laborum, pariatur iure excepturi dicta ex&nbsp;suscipit recusandae totam illum autem! Iste rem, voluptatum blanditiis magnam. Quae repellendus perspiciatis hic dolor debitis. Dolorum nisi quaerat quibusdam, incidunt, cumque adipisci ratione hic aliquid alias porro, ad&nbsp;deserunt. Expedita suscipit voluptas pariatur praesentium harum aut perferendis vitae mollitia at&nbsp;aliquam aliquid commodi, similique dolores quos velit laudantium, libero accusamus, saepe eveniet rerum perspiciatis ducimus beatae? Voluptatibus quo, deserunt maiores. Nihil laborum necessitatibus aperiam&nbsp;ad, doloribus optio nam.</p>
        <p><a href="#top">Наверх</a></p>
        <div class="footer">
            <img class="img_footer" src="../img/yacht.png">
            <p>&copy;&nbsp;Все права защищены</p>
        </div>
    </div>
</body>

</html>
