<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Главная Grand Marine</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="index.html"><img class="logo" src="img/logo.png" alt="Logo"></a>
            <ul class="menu">
                <li class="menu-list"><a class="menu-link" href="index.html">Главная</a></li>
                <li class="menu-list"><a class="menu-link" href="catalog/catalog.html">Каталог</a></li>
                <li class="menu-list"><a class="menu-link" href="contacts.html">Контакты</a></li>
            </ul>
        </div>
        <h2>Главная</h2>
        <p>Добро пожаловать, в&nbsp;Grand Marine!</p>
        <p>Мы готовы осуществить Вашу мечту!</p>
        <img class="img_main" src="img/main.jpg">
        <div class="footer">
            <img class="img_footer" src="img/yacht.png">
            <p>&copy;&nbsp;Все права защищены</p>
        </div>
    </div>
</body>

</html>