<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Каталог Grand Marine</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="../index.html"><img class="logo" src="../img/logo.png" alt="Logo"></a>
            <ul class="menu">
                <li class="menu-list"><a class="menu-link" href="../index.html">Главная</a></li>
                <li class="menu-list"><a class="menu-link" href="catalog.html">Каталог</a></li>
                <li class="menu-list"><a class="menu-link" href="../contacts.html">Контакты</a></li>
            </ul>
        </div>
        <h2>Каталог</h2>

        <div class="catalog">
            <a href="Azimut 80.html"><div class="catalog_prodict"><img class="img_catalog" src="Azimut 80.jpg" alt="Яхта Azimut 80" title="Яхта Azimut 80"><p>Azimut 80</p></div></a>

            <a href="Azimut 120SL.html"><div class="catalog_prodict"><img class="img_catalog" src="Azimut 120SL.jpg" alt="Яхта Azimut 120SL" title="Яхта Azimut 120SL"><p>Azimut 120SL</p></div></a>

            <a href="Benetti Veloce 140.html"><div class="catalog_prodict"><img class="img_catalog" src="Benetti Veloce 140.jpg" alt="Яхта Benetti Veloce 140" title="Яхта Benetti Veloce 140"><p>Benetti Veloce 140</p></div></a>
        </div>

        <div class="footer">
            <img class="img_footer" src="../img/yacht.png">
            <p>&copy;&nbsp;Все права защищены</p>
        </div>
    </div>
</body>

</html>
